.art-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height);
  overflow: hidden;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(
      0deg,
      color(primary-0, 1) 0%,
      color(primary-0, 0) 100%
    );
    content: '';
  }
}

.image-container {
  position: relative;
  animation: wobble speed(background) infinite linear;

  // &:before {
  //   z-index: 1;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url('/images/noise.png');
  //   background-size: 100px 100px;
  //   content: '';
  //   mix-blend-mode: color-burn;
  //   opacity: 1;

  //   @include breakpoint(m) {
  //     background-size: 140px 140px;
  //   }
  // }
}

.image {
  width: 100%;
  height: var(--height);
  object-fit: cover;
  object-position: center;
  filter: contrast(85%) brightness(500%) blur(60px) saturate(80%);
}

@keyframes wobble {
  0% {
    transform: rotate(0deg) scale(1.2);
  }

  25% {
    transform: rotate(4deg) scale(1.2);
  }

  50% {
    transform: rotate(0deg) scale(1.2);
  }

  75% {
    transform: rotate(-4deg) scale(1.2);
  }

  100% {
    transform: rotate(0deg) scale(1.2);
  }
}
