$speeds: (
  fast: 0.3s,
  normal: 0.6s,
  slow: 1s,
  background: 90s
);

@function speed($key) {
  @return map-get($speeds, $key);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
